.container-center{
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
    height: 85px;
}
img{
    display:flex;
    justify-items: left;
    align-items: flex-start;
    height: 85px;
};